<h1>All JOBIZZLE OPENINGIZLES!</h1>
<ul>
  @foreach(var job in Model){
    <h4>@job.GetTitle()</h4>
    <ul>
      <li>@job.GetDescription()</li>
      <li>@job.GetEmail()</li>
      <li>@job.GetContact()</li>
    </ul>
  }
</ul>
<p><a href="/">Add more openings in your rich company?</a></p>
<form action="/no_jobs" method="post">
  <button type="submit" name="button">Change your mind and not hire anyone!</button>
</form>
